<!doctype html>
<html>

<head>
  <title>My To-Do List</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-check-square-o"></span> My To-Do List</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- USER INFO SECTION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local Account Info</h3>

          <% if (user.local.email) { %>
            <p>
              <strong>ID:</strong> <%= user._id %><br>
              <strong>Email:</strong> <%= user.local.email %><br>
              <strong>Password:</strong> <%= user.local.password %>
            </p>
            <a href="/unlink/local" class="btn btn-default">Unlink Account</a>
          <% } else { %>
            <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

        </div>
      </div>

      <!-- TO-DO SECTION -->
      <div class="col-sm-6">
        <h3>Your To-Dos</h3>
        <ul class="todos">
          <% for (var i = 0; i < todos.length; i++) { %>
            <li class="todo">
              <span style="<%= todos[i].completed ? 'text-decoration: line-through;' : '' %>">
                <%= todos[i].task %>
              </span>
              <button class="toggle-complete btn btn-xs btn-info" data-task="<%= todos[i].task %>" data-completed="<%= todos[i].completed %>">
                <%= todos[i].completed ? 'Undo' : 'Done' %>
              </button>
              <button class="delete btn btn-xs btn-danger" data-task="<%= todos[i].task %>">
                Delete
              </button>
            </li>
          <% } %>
        </ul>

        <h4>Add a New Task</h4>
        <form action="/todos" method="POST">
          <input type="text" name="task" placeholder="what do you need to do?" class="form-control" required>
          <br>
          <button type="submit" class="btn btn-success">Add Task</button>
        </form>
      </div>

    </div>


    <script src="main.js"></script>

  </div>
</body>

</html>
